.selectMovie {
    display: grid;
    justify-content: center;
    margin-block: 20px;
    row-gap: 10px;
}

.selectMovie > * {
    width: 230px;
}

input {
    width: 230px;
    height: 30px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }