@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400&family=Poppins:wght@600&display=swap');

.selectMovie {
    display: grid;
    justify-content: center;
    /* margin-block: 20px; */
    row-gap: 10px;
}

.selectMovie > * {
    width: 260px;
}

input {
    width: 260px;
    height: 30px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.hero {
    margin-block: 20px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.hero > * {
    margin-inline: 5px;
}

section {
    margin-inline: 10px;
}

.center-text {
    text-align: center;
}

.site-title {
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

h1 {
    margin-block: 10px;
}