.dataResult {
  /* margin-top: 5px; */
  /* width: 300px; */
  /* height: 200px; */
  overflow: hidden;
  overflow-y: auto;
  box-shadow: rgba((0), 0, 0, 0.3) 0px 5px 15px;
}

.dataResult .dataItem {
  width: 100%;
  height: 30px;
  /* display: flex;
  align-items: center; */
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dataItem p {
  margin-left: 10px;
}

.searchInputs {
  /* margin-top: 105px; */
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: lightgrey;
}

input:focus {
  outline: none;
}
